<div class="ContentFull ScrollArea SmoothScrolling Padding">
	<figure>
		<img src="Progdir:about.jpg" width="100%" height="auto"/>
	</figure>
	<h2>
		About Spreadsheet App
	</h2>
	<p>
		Friend Office is developed and maintained by Friend Software Labs.
	</p>
	<p>
		Friend Office Spreadsheet is a front-end and a set of improvements to the 
		OnlyOffice Document Server and spreadsheet editor. It implements
		important integrations to Friend OS for file support, drag & drop as 
		well as other User Interface adaptations.
	</p>
	<p>
		The source code for Friend Office is available at:
	</p>
	<ul>
		<li>
			https://github.com/FriendUPCloud/friend-office
		</li>
	</ul>
	<p>
		The source code for OnlyOffice is available at:
	</p>
	<ul>
		<li>
			https://github.com/ONLYOFFICE
		</li>
	</ul>
	<p>
		<small>Image credit: Isaac Smith</small>
	</p>
</div>
<style>
	.ContentFull
	{
		padding-top: 210px;
	}
	figure {
		position: absolute;
		display: block;
		width: 100%;
		left: 0;
		top: 0;
		height: 200px;
		overflow: hidden;
		margin: 0;
	}
	figure > img
	{
		position: absolute;
		top: calc(50% - 200px);
		left: 0;
	}
</style>
