
	<script src="Progdir:Scripts/SpreadsheetView.js"></script>
	<script src="{onlyoffice_api_interface}"></script>
	<style>
		#oocontainer iframe
		{
			width:100%;
			height:100%;
		}
		.DocumentOverlay
		{
			opacity: 0;
			transition: opacity 0.25s;
			position: absolute;
			z-index: 999;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.92);
			color: white;
			padding: 60px;
			box-sizing: border-box;
			pointer-events: none;
			font-size: 150%;
		}
		body:not([mobile]) .DocumentOverlay > div
		{
			position: absolute;
			top: calc(50% - 100px);
			left: calc(50% - 300px);
			width: 600px;
			height: 200px;
		}
		.DocumentOverlay.Showing
		{
			opacity: 1;
			pointer-events: all;
		}		
	</style>
	<div id="oocontainer" class="ContentFull ScrollArea" style="visibility: hidden">
		<div id="ooinner"></div>
	</div>
