	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
	<style>
	
		html body
		{
			font-family: 'Assistant';
			font-size: 14px;
		}
		
        .studio-top-logo
    	{
                display: none;
    	}
    	
    	.studio-top-panel.mainPageLayout
    	{
    		background-color: #20374D;
    	}
    	
    	.top-item-box.gift
    	{
    		display: none;
    	}

		.menu-item-label.outer-text.text-overflow.support-link
		{
			display: none;
		}

		/* Mobile stuff */
		@media screen and (max-width: 512px)
		{
			.studio-container, .studio-container *
			{
				grid-template-areas: none;
				grid-template-columns: none;
				grid-template-rows: none;
				grid-gap: 0;
			}
			
			.studio-container header,
			.studio-container nav,
			.studio-container main
			{
				position: fixed;
				width: 100vw;
			}
			
			.studio-container header
			{
				top: 0;
				left: 0;
				height: 50px;
			}
			
			.studio-container nav,
			.studio-container main
			{
				top: 50px;
				left: 0;
				height: calc(100vh - 50px);
			}
		}

	</style>

