	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
	<style>
	
		html body
		{
			font-family: 'Assistant';
			font-size: 14px;
		}
		
        .studio-top-logo
    	{
                display: none;
    	}
    	
    	.studio-top-panel.mainPageLayout
    	{
    		background-color: #20374D;
    	}
    	
    	.top-item-box.gift
    	{
    		display: none;
    	}

		.menu-item-label.outer-text.text-overflow.support-link
		{
			display: none;
		}

	</style>

