	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
	<style>
	
		html body
		{
			font-family: 'Assistant';
			font-size: 14px;
			visibility: hidden;
		}
		
		html body.Done
		{
			visibility: visible;
		}
		
        .studio-top-logo
    	{
                display: none;
    	}
    	
    	.studio-top-panel.mainPageLayout
    	{
    		background-color: #20374D;
    	}
    	
    	.top-item-box.gift
    	{
    		display: none;
    	}

		.menu-item-label.outer-text.text-overflow.support-link
		{
			display: none;
		}
		
		#studio_productListPopupPanel li.documents,
		#studio_productListPopupPanel li.feed,
		#studio_productListPopupPanel li.apps,
		.studio-top-panel.mainPageLayout li.feed,
		.search-options-box.clearFix .search-option-box + .search-option-box
		{
			display: none;
		}

		/* Mobile stuff ----------------------------------------------------- */
		@media screen and (max-width: 512px)
		{
			/* Loading animation */
			
			#firstLoader
			{
				position: fixed;
				left: calc(50% - 32px);
				top: calc(50% - 32px);
			}
			
			#firstLoader .loader-page img,
			#firstLoader .loader-page
			{
				top: 0;
				left: 0;
				margin-top: 0;
				margin-left: 0;
			}
			
			#firstLoader .loader-page .text
			{
				display: none;
			}
			
			/* Mobile mail listing */
			
			body .messages
			{
				display: block;
			}
			
			body .messages .row
			{
				height: auto;
				display: block;
				clear: both;
			}
			
			body .messages .row:after
			{
				content: " ";
				display: block;
				clear: both;
			}
			
			body .messages .row > div
			{
				float: left;
			}
			
			body .messages .row > div.subject
			{
				clear: both;
				max-width: calc(100% - 20px);
				text-overflow: ellipsis;
				overflow: hidden;
			}
			
			body .messages .row > div.importance
			{
				float: right;
				margin: 8px 0 0 0;
			}
			
			.messages .row .subject a > span 
			{
				margin-left: 34px;
				top: -4px;
				position: relative;
			}
			
			body .messages .row > div.date
			{
				clear: both;
				margin-bottom: 8px;
				margin-left: 34px;
				background: linear-gradient(9deg, #ACBAC755, #ACBAC722);
				padding-right: 3px;
				border-radius: 11px 0 0 11px;
				/* padding-right: 37px; */
				float: left;
				height: 25px;
				border-bottom: 1px solid #acbac7;
			}
			
			body .messages .row > div.time
			{
				background: linear-gradient(9deg, #ACBAC755, #ACBAC722);
				border-radius: 0 11px 11px 0;
				padding-left: 3px;
				height: 25px;
				border-bottom: 1px solid #acbac7;
				border-right: 1px solid #acbac7;
			}
			
			body .messages .row > div > a
			{
				line-height: 26px;
			}	
			
			.messages .row .subject > a
			{
				white-space: nowrap;
			}
			
			.messages .row .date > a
			{
				padding-right: 5px;
			}
			
			body .messages .row .date > a, 
			body .messages .row .time > a
			{
				line-height: 26px;
			}
			
			/* Extra buttons */
			
			.mobile-buttons
			{
			    display: block;
				width: calc(100vw - 120px);
				position: absolute;
				right: 10px;
				text-align: right;
			}
			
			.mobile-buttons a
			{
			    padding: 4px 8px;
				margin: 6px;
				display: inline-block;
				color: white;
				text-decoration: none;
				background-color: rgba(0,0,0,0.3);
				border-radius: 7px;
			}
			
			.mobile-buttons a.email:before
			{
				content: "\f0f6";
				font-family: forkawesome;
				color: white;
				margin: 0 5px 0 0;
			}
			
			/* Done extra buttons */
			
			.studio-container, .studio-container > *
			{
				grid-template-areas: none;
				grid-template-columns: none;
				grid-template-rows: none;
				grid-gap: 0;
			}
			
			html #studioPageContent
			{
				min-width: 100%;
			}
			
			.studio-container header,
			.studio-container nav,
			html #studio_sidePanel,
			.studio-container main
			{
				position: fixed;
				width: 100vw;
			}
			
			body:not(.Navmode) .studio-container nav
			{
				left: 100vw;
				display: none;
			}
			
			.studio-container header
			{
				top: 0;
				left: 0;
				height: 50px;
				z-index: 1999;
			}
			
			#studio_productListPopupPanel
			{
				position: fixed !important;
				top: 60px !important;
				height: calc(100vh - 82px);
			}
			
			.studio-container nav,
			.studio-container main
			{
				top: 50px;
				left: 0;
				height: calc(100vh - 50px);
				transition: left 0.25s;
				overflow: auto;
				overflow-x: hidden;
			}
			
			.studio-container main
			{
			    padding: 10px;
				box-sizing: border-box;
			}
		}

	</style>

