<div class="ContentFull ScrollArea SmoothScrolling Padding">
	<figure>
		<img src="Progdir:about.jpg" width="100%" height="auto"/>
	</figure>
	<h2>
		About Presentation App
	</h2>
	<p>
		Friend Office is developed and maintained by Friend Software Labs.
	</p>
	<p>
		Friend Office Presentation is a front-end and a set of improvements to 
		the OnlyOffice Document Server and presentation editor. It implements
		important integrations to Friend OS for file support, drag & drop as 
		well as other User Interface adaptations.
	</p>
	<p>
		The source code is available at:
	</p>
	<ul>
		<li>
			https://github.com/FriendUPCloud/friend-office
		</li>
	</ul>
	<p>
		<small>Image credit: Alex Litvin</small>
	</p>
</div>
